name: template for building

on:
  workflow_call:
    inputs:
      context:
        description: 'Build context for the Docker image'
        type: string
        required: true
      tags:
        description: 'Tags for the Docker image'
        type: string
        required: true
      build-args:
        description: 'Build arguments for the Docker image'
        type: string
        required: false
        default: ''
      platforms:
        description: 'Platforms for the Docker image'
        type: string
        required: false
        default: ''
      pre-build-docker-hook:
        description: 'Path to a script to run before building the Docker image'
        type: string
        required: false
        default: ''

# Defines two custom environment variables for the workflow. These are used for the Container registry domain, and a name for the Docker image that this workflow builds.
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/${{ inputs.context }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive
          lfs: true
      - name: Run pre-build Docker hook
        if: inputs.pre-build-docker-hook != ''
        run: |
          echo "Running pre-build Docker hook"
          eval ${{ inputs.pre-build-docker-hook }}
      - name: Set up QEMU
        if: inputs.platforms != ''
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        if: inputs.platforms != ''
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            network=host
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set Environment Variables
        run: |
          echo "GITHUB_DATE=$(date '+%Y-%m-%dT%H:%M:%S%:z')" >> $GITHUB_ENV
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: ${{ inputs.tags }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          network: host
          context: ${{ inputs.context }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: ${{ inputs.build-args }}
          platforms: ${{ inputs.platforms }}
      
      # This step generates an artifact attestation for the image,
      # which is an unforgeable statement about where and how it was built.
      # It increases supply chain security for people who consume the image.
      # For more information, see
      # [AUTOTITLE](/actions/security-guides/using-artifact-attestations-to-establish-provenance-for-builds).
      # - name: Generate artifact attestation
      #   uses: actions/attest-build-provenance@v1
      #   with:
      #     subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
      #     subject-digest: ${{ steps.push.outputs.digest }}
      #     push-to-registry: true
      
